@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary: #5956e8;
  --black: #181818;
  --white: #fffefe;
  --para: rgba(24, 24, 24, 0.7);
  --borderRadius: 1rem;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 1rem = 10px */
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Reuseable css */
.container {
  width: 1170px;
  margin: 0 auto;
}

.section_header {
  text-align: center;
  h2.title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
  p.sub__title {
    font-size: 1.6rem;
    color: var(--para);
    width: 54.2rem;
    margin: 0 auto;
  }
}

/* Reuseable css end */

/* Navbar css Start */

#navbar {
  padding-top: 3.4rem;
  padding-bottom: 5.1rem;
  background-color: var(--white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav figure {
  width: 11.521rem;
}
.nav figure img {
  width: 100%;
}

.nav_list {
  display: flex;
  gap: 5rem;
  li {
    font-weight: 500;
    font-size: 1.8rem;
    a {
      color: var(--black);
      &:hover {
        color: var(--primary);
      }
    }
  }
}

.nav .nav_btn {
  background-color: var(--primary);
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--white);
  padding: 1.3rem 2.35rem;
  border-radius: var(--borderRadius);
}
/* Navbar css End */

#banner {
  background-color: var(--primary);
  padding-top: 16.5rem;
  padding-bottom: 19.968rem;
  .banner_wrapper {
    display: flex;
    align-items: center;
    .banner_text_box {
      h1 {
        font-weight: 700;
        font-size: 6.5rem;
        color: var(--white);
        line-height: 8rem;
      }
      p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.7rem;
        color: var(--white);
        width: 54.2rem;

        margin-top: 2.5rem;
        margin-bottom: 3rem;
      }
      .banner_btn {
        background-color: var(--white);
        color: var(--primary);
        font-size: 1.8rem;
        font-weight: 500;
        padding: 1.3rem 2.2rem;
        border-radius: var(--borderRadius);
        border: none;
        outline: 0;
        cursor: pointer;
      }
    }
  }
}

#services {
  padding-top: 8.3rem;
  .services_wrapper {
    margin-top: 5rem;
    display: flex;
    row-gap: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    .service_box {
      cursor: pointer;
      border: 0.05rem solid #e3e3e3;
      border-radius: var(--borderRadius);
      padding: 6.3rem 4.8rem;
      transition: all 250ms ease-in-out;
      &:hover {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        transform: translateY(-1rem);
        .service_icon {
          background-color: var(--primary);
          color: var(--white);
        }
      }
      .service_icon {
        color: var(--primary);
        border: 0.05rem solid var(--primary);
        height: 7.1rem;
        width: 7.1rem;
        border-radius: var(--borderRadius);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.7rem;
        transition: all 250ms ease-in-out;
      }
      h3 {
        color: var(--black);
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
      p {
        color: var(--para);
        line-height: 2.7rem;
        font-size: 1.6rem;
        width: 27.4rem;
      }
    }
  }
}

#portfolio {
  margin-bottom: 200px;
  padding-top: 10rem;
  .portfolio_wrapper {
    display: flex;
    gap: 3rem;
    .portfolio_box {
      border: 1px solid;
      position: relative;
      cursor: pointer;
      border-radius: var(--borderRadius);
      img {
        width: 100%;
      }
      .portfolio_overlay {
        position: absolute;
        bottom: 1.9rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--primary);
        padding: 2.45rem 4rem;
        border-radius: var(--borderRadius);
        text-align: center;
        width: 23rem;
        h4 {
          font-weight: 600;
          font-size: 2rem;
          line-height: 2.7rem;
          color: var(--white);
        }
        a {
          margin-top: 1rem;
          line-height: 2.7rem;
          font-size: 1.6rem;
          color: var(--white);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          .right_arrow {
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}
